* {
    box-sizing: border-box;
  }
  
p{

   
    font-family:  helvetica;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 2px;
    color:  rgb(0,0,0);
}
p1
{
    font-family:  helvetica;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 2px;
    color:rgb(255, 255, 255) ;
    font-size: medium;
}

body{
    margin-top: 100px;
    background-color:rgba(255, 255, 255,1);
    margin-bottom: 50px;
}

h1{
    font-family:  helvetica;
    font-weight: 100;
   
}
h2{
    font-family:  helvetica;
    font-weight: 100;
   
}
a:link
{
    font-family:  helvetica;
    font-weight: 100;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    
} 
a:visited
{
    font-family:  helvetica;
    font-weight: 100;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);  
}
a:hover
{
    font-family:  helvetica;
    font-weight: 100;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);    
}

nav
{

overflow: hidden;
position: fixed; 
top: 0 ; 
width: 100%; 
margin-left: 0;
}


nav a  {
    float: left;
    display: block;
    text-align: left;
    padding: 14px 16px;
    border-radius: 50px;
    background-color:rgba(219, 177, 198,1);
    margin-left: 0.2cm;
   
  }


  /* ako imam listi 
a:hover ul    {
     display: block; 
     
    }
a ul li      
 {
   border-top: 2px soli steelbluesz;
    background-color:rgba(219, 177, 198,.1);
    width: 10em;
    color: black; }
a ul li :hover 
 { 
     background-color:rgba(219, 177, 198,.9);
 }  */
 textarea
 {
    font-family:  helvetica;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 2px;
 }
 footer {

     
    text-align: center;
    padding: 3px;
    background-color:rgba(219, 177, 198,.5);
    
    position: fixed ; 
    right:0;
bottom: 50px;
width: 10%; 
  }
  footer a link
  {
      transition: 3s;/*ne raboti da se popravi*/
  }
 

.dark-mode
{
   background-color: rgb(34, 34, 34);
 
}
.dark-mode p{
    color: rgba(255, 255, 255,1);
}
.dark-mode nav a
{
background-color:rgb(202, 73, 153);

}
.dark-mode footer
{
    background-color:rgba(202, 73, 153,.7);
}
.dark-mode a
{
    color: rgba(255, 255, 255,1);
}
/*isto kako footer kodot samo smeneto left:-91 za da stoi od levata strana i da ne se gleda a na hoover da se otvara left:0*/
#mySidenav a {
    text-align: center;
    padding: 3px;
    background-color:rgba(219, 177, 198,1);
    padding: 15px;
    width: 100px;
    transition: 0.3s;
    position: fixed; 
    left:-91px;
   bottom: 50px;
   
  }
  
  #mySidenav a:hover {
    left: 0;
  } 

.dark-mode #mySidenav a
{
    background-color: rgba(202, 73, 153,1);
    color: rgb(255, 255, 255); 
}
